<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.rich_text_area :summary %>
  </div>

  <div class="field">
      <% @conditions.each do |option| %>
      <%= form.label :condition, format_condition(option) %>
      <%= form.radio_button :condition, option %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.select :genre_id, @genres.map {|g| [g.genre, g.id]} %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: "image/png,image/jpg,image/jpeg" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
